{% extends 'common/base.html' %}
{% load static %}

{% block tittle %}
Notification
{% endblock tittle %}


{% block head %}

<div class="container">

    <div class="row d-flex flex-row pt-3">

        <div class="col-12">

            <h1>Dashboard de notificaciones</h1>

        </div>

        <div class="col-12">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">
                Nueva Notificacion
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Nueva notificación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data">  {% csrf_token %}
                               <div class="form-group">
                                    <label for="{{formPreview.tittleNotification.id_for_label}}">
                                        {{formPreview.tittleNotification.label}}
                                    </label>
                                    {{formPreview.tittleNotification}}
                                    {{formPreview.tittleNotification.errors}}
                               </div>
                               <div class="form-group">
                                    <label for="{{formPreview.bodyNotification.id_for_label}}">
                                        {{formPreview.bodyNotification.label}}
                                    </label>
                                   {{formPreview.bodyNotification}}
                                   {{formPreview.bodyNotification.errors}}
                               </div>
                                <h4 class="text-center">Datos de la notificación</h4>
                                <div class="form-group">
                                    <label for="{{formData.tittle.id_for_label}}">
                                        {{formData.tittle.label}}
                                    </label>
                                    {{formData.tittle}}
                                    {{formData.tittle.errors}}
                                </div>
                                <div class="form-group">
                                    <label for="{{formData.body.id_for_label}}">
                                        {{formData.body.label}}
                                    </label>
                                    {{formData.body}}
                                    {{formData.body.errors}}
                                </div>
                                <div class="form-group">
                                    <label for="{{formData.icon.id_for_label}}">
                                        {{formData.icon.label}}
                                    </label>
                                    {{formData.icon}}
                                    {{formData.icon.errors}}
                                  </div>
                                  <div class="form-group">
                                    <label for="{{formData.admin.id_for_label}}">
                                        {{formData.admin.label}}
                                    </label>
                                    {{formData.admin}}
                                    {{formData.admin.errors}}
                                  </div>
                                  <div class="form-group">
                                    <label for="{{formData.schools.id_for_label}}">
                                        {{formData.schools.label}}
                                    </label>
                                    {{formData.schools}}
                                    {{formData.schools.errors}}
                                  </div>
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                                  </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock head %}


{% block body %}
<div class="container">

    <div class="row py-3">

        <div class="col">
            
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Facultades</th>
                    </tr>
                </thead>
                <tbody>                 
                    {% for n in Notification %}
                    <tr>
                        <th scope="row">{{n.id}}</th>
                        <td>{{n.tittle}}</td>
                        <td>{{n.body}}</td>
                        <td><ul>                         
                            {% for s in n.schools.all %}
                                <li>{{s.name}}</li>
                            {% endfor %}                           
                        </ul></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

    </div>

</div>
{% endblock body %}


{% block customJS %}<script src="{% static 'js/notification/selectFilter.js' %}"></script>{% endblock customJS %}
